body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(27, 66%, 92%);
  justify-content: center;
  margin-top: 100px;
}

.firstbox {
  background-color: hsl(10, 79%, 65%);
  height: 100px;
  width: 450px;
  color: rgba(255, 255, 255, 0.801);
  /* position: absolute; */
  border-radius: 10px;
}
.althaf {
  display: flex;
  justify-content: center;
}
.mybalance {
  font-size: 16px;
  margin-left: 15px;
}

.dollars {
  color: white;
  font-size: 23px;
  font-weight: 600;
  margin-left: 15px;
}

.float {
  position: absolute;
}

.logo {
  margin-left: 320px;
  margin-top: 20px;
}

.Spending {
  color: hsl(25, 47%, 15%);
  font-size: 25px;
  font-weight: 600;
  margin-left: 30px;
  padding-top: 20px;
}

.secondbox {
  background-color: white;
  height: 500px;
  width: 450px;
  justify-content: center;
  margin-left: 570px;
  border-radius: 10px;
  margin-top: 20px;
}

.box-row {
  display: flex;
  /* margin-top: 220px; */
  gap: 15px;
  margin-left: 44px;
}

.monday {
  width: 40px;
  height: 40px;
  background-color: hsl(10, 79%, 65%);
  margin-top: 185px;
  border-radius: 2px;
}

.tuesday {
  width: 40px;
  height: 85px;
  background-color: hsl(10, 79%, 65%);
  margin-top: 140px;
  border-radius: 2px;
}

.wednesday {
  width: 40px;
  height: 120px;
  background-color: hsl(186, 34%, 60%);
  margin-top: 105px;
  border-radius: 2px;
}

.thursday {
  width: 40px;
  height: 70px;
  background-color: hsl(10, 79%, 65%);
  margin-top: 155px;
  border-radius: 2px;
}
.friday {
  width: 40px;
  height: 50px;
  background-color: hsl(10, 79%, 65%);
  margin-top: 175px;
  border-radius: 2px;
}

.saturday {
  width: 40px;
  height: 105px;
  background-color: hsl(10, 79%, 65%);
  margin-top: 120px;
  border-radius: 2px;
}

.sunday {
  width: 40px;
  height: 55px;
  background-color: hsl(10, 79%, 65%);
  margin-top: 170px;
  border-radius: 2px;
}
.weeks {
  margin-left: 47px;
  display: flex;
  gap: 35px;
  margin-top: 15px;
  color: hsl(28, 10%, 53%);
  font-size: 14px;
}

hr {
  width: 370px;
  margin-top: 30px;
  color: hsl(27, 66%, 92%);
}

.total {
  color: hsl(28, 10%, 53%);
  margin-top: 30px;
  margin-left: 50px;
}

.dollar {
  color: hsl(25, 47%, 15%);
  font-size: 40px;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 50px;
}

.left-side {
}

.badass {
  display: flex;
  line-height: 25px;
}

.plus2 {
  margin-left: 170px;
  color: hsl(25, 47%, 15%);
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}

.from {
  margin-left: 100px;
  color: hsl(28, 10%, 53%);
}
